.navbar-main{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 40px;
}

.navtags{
    display: flex;
    flex-direction: row;
    gap: 5vh;
    padding-left: 300px;

}